.home {
    margin: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 800px;
}

h3 {
    text-align: center;
    color: rgb(160 224 187);
}

h3:hover{
    font-size: 150%;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 20px;
}
.card{
    background-color:  rgb(160 224 187);
    margin: 20px;
    padding: 40px;
    border-radius: 30px;
}